<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">
   <div class="buttons1" style="margin-top:22vh; margin-left:35vh;">
     <a href="/add_address"><button type="button" class="link_btn" name="link_btn">Add Address</button></a>
     <a href="/view_address"><button type="button" class="link_btn" name="link_btn">Saved Address</button></a>
   </div>

    </div>

  </body>
</html>
