<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
   <div class="main">
     <div class="address_heading1">
       <h3>You saved a new Address !!!</h3>
     </div>
  <div class="buttons1">
    <a href="/add_address"><button type="button" class="link_btn" name="link_btn">Add Address</button></a>
    <a href="/view_address"><button type="button" class="link_btn" name="link_btn">Saved Address</button></a>
  </div>

   </div>
  </body>
</html>
