body{
  background-color: #2a363b;
  font-family: sans-serif;
}
h3{
  margin-left: 2%;
}
hr{
  border-top: 1px solid;
  width:90%;
  color: #4d4545;
}
a{
  text-decoration: none;
}
button{
  margin-left: 2%;
  margin-top: 3%;
  padding: 10px;
  width: auto;
  margin-bottom: 5%;
}
.main{
  background-color: white;
  min-height: 20vh;
  width:55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  /* align-items: center; */
}
.item{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}
.itemChild1, .itemChild2{
  display: flex;
}
.itemChild1 p{
  margin-left: 4%;
  font-size: 20px;
}
.itemChild2{
  margin-left: 4%;
}
.itemChild2 p{
  font-size: 15px;
}
